/* General */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#f8f4ef;
    color:#333;
}

/* Navigation */

nav{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 8%;

    background:white;

    position:sticky;

    top:0;

    box-shadow:0 2px 10px rgba(0,0,0,.08);

}

.logo{

    font-size:28px;

    font-weight:bold;

    color:#7b2d26;

}

.nav-links{

    display:flex;

    list-style:none;

    gap:30px;

}

.nav-links a{

    text-decoration:none;

    color:#333;

    font-weight:bold;

}

.nav-links a:hover{

    color:#7b2d26;

}

/* Buttons */

.btn{
    display:inline-block;
    background:#7b2d26;
    color:white;
    padding:12px 24px;
    border-radius:8px;
    text-decoration:none;
    transition:.3s;
    margin-top:20px;
}

.btn:hover{

    background:#5d201c;

}

.btn-outline{

    border:2px solid #7b2d26;

    color:#7b2d26;

    padding:12px 24px;

    border-radius:8px;

    text-decoration:none;

    margin-left:15px;

    transition:.3s;

}

.btn-outline:hover{

    background:#7b2d26;

    color:white;

}

/* Hero */

header{

    text-align:center;

    padding:120px 20px;

}

header h1{

    font-size:60px;

    color:#7b2d26;

    margin-bottom:20px;

}

header p{

    max-width:700px;

    margin:auto;

    font-size:22px;

    line-height:1.8;

    color:#555;

}

.hero-buttons{

    margin-top:40px;

}

/* Categories */

.categories{

    padding:80px 8%;

    text-align:center;

}

.categories h2{

    font-size:42px;

    color:#7b2d26;

    margin-bottom:50px;

}

.category-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(230px,1fr));

    gap:25px;

}

.category-card{

    background:white;

    padding:35px;

    border-radius:16px;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

    transition:.3s;

}

.category-card:hover{

    transform:translateY(-10px);

}

.category-card h3{

    font-size:28px;

    color:#7b2d26;

    margin-bottom:15px;

}

.category-card p{

    color:#666;

    line-height:1.6;

}
/* Products */

.products{

    padding:80px 8%;

    text-align:center;

}

.products h2{

    font-size:42px;

    color:#7b2d26;

    margin-bottom:50px;

}

.product-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

    gap:30px;

}

.product-card{

    background:white;

    border-radius:18px;

    padding:25px;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

}


   .product-image{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:12px;
    display:block;
}

.price{

    color:#7b2d26;

    font-size:22px;

    font-weight:bold;

    margin:15px 0;

}
.product-card p{
    margin-bottom:15px;
    line-height:1.6;
}
